/*       Hamburger-Cross         */
@import './var';
.container{
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: transparent;
    position: absolute;
    margin-top: -28px;
    left: 5px;
    background-color: $gris;
    border-radius: 30px;
    @media screen and (min-width:600px) {
     display: none;
  }

}

input[type="checkbox"]{
  display: none;
}

.hamberger{
  height:14px;
  width: 14px;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
  &:hover{
    cursor:pointer;
  }
  span{
    display: inline-flex;
    height:1px;
    position:relative;
    &::before,&::after{
      content:"";
      position:absolute;
      height:100%;
      width: 50%;
      top: 0;
      bottom: 0;
      margin:auto;
      transition:all ease 0.25s;
       background-color: black;
    }
    &::before{
      left: 0;
      transform-origin:left;
      border-top-left-radius:4px;
      border-bottom-left-radius:4px;
    }
    &::after{
      right: 0;
      transform-origin:right;
      border-top-right-radius:4px;
      border-bottom-right-radius:4px;
    }
  }
  
  span:nth-child(2){
    &::before,&::after{
      width: 100%;
      border-radius:4px;
      left: 0;
      right: 0;
    }
  }
  
}

input[type="checkbox"]:checked{
  & + label{
    .hamberger{
      span:nth-child(1){
        &::before{
          transform:translateX($transformValue) rotate(45deg)
        }
        &::after{
          transform:translateX($transformValue * -1) rotate(-45deg);
        }
      }
      span:nth-child(2){
        &::before,&::after{
          width: 0;
        }
      }
      
      span:nth-child(3){
        &::before{
          transform:translateX($transformValue) rotate(-45deg)
        }
        &::after{
          transform:translateX($transformValue * -1) rotate(45deg);
        }
      }
    }
  }
}